@font-face {
    font-family: 'BWHaasText';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasText-75Bold.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasText-75Bold.woff") format('woff');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasText';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasText-76BoldItalic.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasText-76BoldItalic.woff") format('woff');
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: 'BWHaasText';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasText-65Medium.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasText-65Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasText';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasText-66MediumItalic.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasText-66MediumItalic.woff") format('woff');
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: 'BWHaasText';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasText-55Roman.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasText-55Roman.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasText';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasText-56Italic.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasText-56Italic.woff") format('woff');
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: 'BWHaasHead';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasHead-95Black.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasHead-95Black.woff") format('woff');
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasHead';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasHead-96BlackItalic.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasHead-96BlackItalic.woff") format('woff');
    font-weight: 900;
    font-style: italic
}

@font-face {
    font-family: 'BWHaasHead';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasHead-75Bold.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasHead-75Bold.woff") format('woff');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasHead';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasHead-76BoldItalic.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasHead-76BoldItalic.woff") format('woff');
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: 'BWHaasHead';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasHead-65Medium.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasHead-65Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasHead';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasHead-66MediumItalic.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasHead-66MediumItalic.woff") format('woff');
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: 'BWHaasHead';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasHead-55Roman.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasHead-55Roman.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasHead';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasHead-56Italic.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasHead-56Italic.woff") format('woff');
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: 'BWHaasHead';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasHead-25XThin.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasHead-25XThin.woff") format('woff');
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasHead';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasHead-26XThinItalic.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasHead-26XThinItalic.woff") format('woff');
    font-weight: 100;
    font-style: italic
}

@font-face {
    font-family: 'BWHaasFixed';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasGrotesk-65Fixed.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasGrotesk-65Fixed.woff") format('woff');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasFixed';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasGrotesk-55Fixed.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasGrotesk-55Fixed.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasCP';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-75Bold.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-75Bold.woff") format('woff');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasCP';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-76BoldItalic.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-76BoldItalic.woff") format('woff');
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: 'BWHaasCP';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-65Medium.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-65Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasCP';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-66MediumItalic.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-66MediumItalic.woff") format('woff');
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: 'BWHaasCP';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-55Roman.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-55Roman.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasCP';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-56Italic.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-56Italic.woff") format('woff');
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: 'BWHaasText-75Bold';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasText-75Bold.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasText-75Bold.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasText-76BoldItalic';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasText-75BoldItalic.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasText-75BoldItalic.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasText-65Medium';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasText-65Medium.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasText-65Medium.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasText-66MediumItalic';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasText-65MediumItalic.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasText-65MediumItalic.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasText-55Roman';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasText-55Roman.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasText-55Roman.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasText-56Italic';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasText-56Italic.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasText-56Italic.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasHead-95Black';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasHead-95Black.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasHead-95Black.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasHead-96BlackItalic';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasHead-96BlackItalic.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasHead-96BlackItalic.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasHead-75Bold';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasHead-75Bold.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasHead-75Bold.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasHead-76BoldItalic';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasHead-76BoldItalic.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasHead-76BoldItalic.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasHead-65Medium';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasHead-65Medium.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasHead-65Medium.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasHead-66MediumItalic';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasHead-66MediumItalic.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasHead-66MediumItalic.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasHead-55Roman';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasHead-55Roman.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasHead-55Roman.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasHead-56Italic';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasHead-56Italic.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasHead-56Italic.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasHead-25XThin';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasHead-25XThin.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasHead-25XThin.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasHead-26XThinItalic';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasHead-26XThinItalic.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasHead-26XThinItalic.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasGrotesk-65Fixed';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasGrotesk-65Fixed.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasGrotesk-65Fixed.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasGrotesk-55Fixed';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasGrotesk-55Fixed.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasGrotesk-55Fixed.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasGroteskCPWeb-75Bold';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-75Bold.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-75Bold.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasGroteskCPWeb-76BoldItalic';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-76BoldItalic.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-76BoldItalic.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasGroteskCPWeb-65Medium';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-65Medium.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-65Medium.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasGroteskCPWeb-66MediumItalic';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-66MediumItalic.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-66MediumItalic.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasGroteskCPWeb-55Roman';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-55Roman.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-55Roman.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasGroteskCPWeb-56Italic';
    src: url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-56Italic.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas/BWHaasGroteskCPWeb-56Italic.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BWHaasDingbat';
    src: url("/graphics/soup/fonts/bw-haas-dingbat/BW Haas Grotesk Web Dingbat-Regular.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas-dingbat/BW Haas Grotesk Web Dingbat-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BW Haas Grotesk Web Dingbat';
    src: url("/graphics/soup/fonts/bw-haas-dingbat/BW Haas Grotesk Web Dingbat-Regular.woff2") format('woff2'), url("/graphics/soup/fonts/bw-haas-dingbat/BW Haas Grotesk Web Dingbat-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'TiemposText';
    src: url("/graphics/soup/fonts/tiempos-text/TiemposTextWeb-Semibold.woff2") format('woff2'), url("/graphics/soup/fonts/tiempos-text/TiemposTextWeb-Semibold.woff") format('woff');
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'TiemposText';
    src: url("/graphics/soup/fonts/tiempos-text/TiemposTextWeb-Regular.woff2") format('woff2'), url("/graphics/soup/fonts/tiempos-text/TiemposTextWeb-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'TiemposText';
    src: url("/graphics/soup/fonts/tiempos-text/TiemposTextWeb-RegularItalic.woff2") format('woff2'), url("/graphics/soup/fonts/tiempos-text/TiemposTextWeb-RegularItalic.woff") format('woff');
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: 'TiemposHead';
    src: url("/graphics/soup/fonts/tiempos-headline/TiemposHeadlineWeb-Bold.woff2") format('woff2'), url("/graphics/soup/fonts/tiempos-headline/TiemposHeadlineWeb-Bold.woff") format('woff');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: TiemposHeadline-BoldItalic;
    src: url("/graphics/soup/fonts/tiempos-headline/TiemposHeadline-BoldItalic.ttf") format('opentype');
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: 'TiemposText-Semibold';
    src: url("/graphics/soup/fonts/tiempos-text/TiemposTextWeb-Semibold.woff2") format('woff2'), url("/graphics/soup/fonts/tiempos-text/TiemposTextWeb-Semibold.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'TiemposText-Regular';
    src: url("/graphics/soup/fonts/tiempos-text/TiemposTextWeb-Regular.woff2") format('woff2'), url("/graphics/soup/fonts/tiempos-text/TiemposTextWeb-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'TiemposText-RegularItalic';
    src: url("/graphics/soup/fonts/tiempos-text/TiemposTextWeb-RegularItalic.woff2") format('woff2'), url("/graphics/soup/fonts/tiempos-text/TiemposTextWeb-RegularItalic.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'TiemposHeadline-Black';
    src: url("/graphics/soup/fonts/tiempos-headline/TiemposHeadlineWeb-Bold.woff2") format('woff2'), url("/graphics/soup/fonts/tiempos-headline/TiemposHeadlineWeb-Bold.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Publico Text Web';
    src: url("/graphics/soup/fonts/publico/PublicoText-Roman-Web.woff2") format('woff2'), url("/graphics/soup/fonts/publico/PublicoText-Roman-Web.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Publico Text Web';
    src: url("/graphics/soup/fonts/publico/PublicoText-Italic-Web.woff2") format('woff2'), url("/graphics/soup/fonts/publico/PublicoText-Italic-Web.woff") format('woff');
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: 'Publico Text Web';
    src: url("/graphics/soup/fonts/publico/PublicoText-Semibold-Web.woff2") format('woff2'), url("/graphics/soup/fonts/publico/PublicoText-Semibold-Web.woff") format('woff');
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'Publico Text Web';
    src: url("/graphics/soup/fonts/publico/PublicoText-SemiboldItalic-Web.woff2") format('woff2'), url("/graphics/soup/fonts/publico/PublicoText-SemiboldItalic-Web.woff") format('woff');
    font-weight: 600;
    font-style: italic
}

@font-face {
    font-family: 'Publico Text Web';
    src: url("/graphics/soup/fonts/publico/PublicoText-Bold-Web.woff2") format('woff2'), url("/graphics/soup/fonts/publico/PublicoText-Bold-Web.woff") format('woff');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Publico Text Web';
    src: url("/graphics/soup/fonts/publico/PublicoText-BoldItalic-Web.woff2") format('woff2'), url("/graphics/soup/fonts/publico/PublicoText-BoldItalic-Web.woff") format('woff');
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: 'Publico Headline Web';
    src: url("/graphics/soup/fonts/publico/PublicoHeadline-Light-Web.woff2") format('woff2'), url("/graphics/soup/fonts/publico/PublicoHeadline-Light-Web.woff") format('woff');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Publico Headline Web';
    src: url("/graphics/soup/fonts/publico/PublicoHeadline-LightIt-Web.woff2") format('woff2'), url("/graphics/soup/fonts/publico/PublicoHeadline-LightIt-Web.woff") format('woff');
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: 'Publico Headline Web';
    src: url("/graphics/soup/fonts/publico/PublicoHeadline-Roman-Web.woff2") format('woff2'), url("/graphics/soup/fonts/publico/PublicoHeadline-Roman-Web.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Publico Headline Web';
    src: url("/graphics/soup/fonts/publico/PublicoHeadline-Italic-Web.woff2") format('woff2'), url("/graphics/soup/fonts/publico/PublicoHeadline-Italic-Web.woff") format('woff');
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: 'Publico Headline Web';
    src: url("/graphics/soup/fonts/publico/PublicoHeadline-Medium-Web.woff2") format('woff2'), url("/graphics/soup/fonts/publico/PublicoHeadline-Medium-Web.woff") format('woff');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Publico Headline Web';
    src: url("/graphics/soup/fonts/publico/PublicoHeadline-MediumIt-Web.woff2") format('woff2'), url("/graphics/soup/fonts/publico/PublicoHeadline-MediumIt-Web.woff") format('woff');
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: 'Publico Headline Web';
    src: url("/graphics/soup/fonts/publico/PublicoHeadline-Bold-Web.woff2") format('woff2'), url("/graphics/soup/fonts/publico/PublicoHeadline-Bold-Web.woff") format('woff');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Publico Headline Web';
    src: url("/graphics/soup/fonts/publico/PublicoHeadline-BoldIt-Web.woff2") format('woff2'), url("/graphics/soup/fonts/publico/PublicoHeadline-BoldIt-Web.woff") format('woff');
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: 'Publico Headline Web';
    src: url("/graphics/soup/fonts/publico/PublicoHeadline-Exbold-Web.woff2") format('woff2'), url("/graphics/soup/fonts/publico/PublicoHeadline-Exbold-Web.woff") format('woff');
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: 'Publico Headline Web';
    src: url("/graphics/soup/fonts/publico/PublicoHeadline-ExboldIt-Web.woff2") format('woff2'), url("/graphics/soup/fonts/publico/PublicoHeadline-ExboldIt-Web.woff") format('woff');
    font-weight: 800;
    font-style: italic
}

@font-face {
    font-family: 'Publico Headline Web';
    src: url("/graphics/soup/fonts/publico/PublicoHeadline-Black-Web.woff2") format('woff2'), url("/graphics/soup/fonts/publico/PublicoHeadline-Black-Web.woff") format('woff');
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'Publico Headline Web';
    src: url("/graphics/soup/fonts/publico/PublicoHeadline-BlackIt-Web.woff2") format('woff2'), url("/graphics/soup/fonts/publico/PublicoHeadline-BlackIt-Web.woff") format('woff');
    font-weight: 900;
    font-style: italic
}

.dvz-content {
    background-color: #fff;
    overflow: auto;
}

.dvz-content * {
    margin: 0;
    padding: 0
}

.dvz-content .clearboth {
    clear: both
}

.dvz-content section {
    margin: 30px auto;
    clear: both
}

.dvz-content .container-width {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto
}

.dvz-content .copy-width {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto
}

.dvz-content .footer {
    position: relative;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding: 8px 0
}

.dvz-content .img-full {
    width: 100%
}

@media only screen and (max-width:1160px) {
    .dvz-content .container-width {
        max-width: 92%
    }
}

@media only screen and (max-width:880px) {
    .dvz-content .copy-width {
        max-width: 92%
    }
}

.dvz-t-show,
.dvz-t-show-inline {
    display: none
}

.terminal a:not(.dvz-t-allow),
.terminal .dvz-t-disable {
    pointer-events: none;
}

.terminal a:not(.dvz-t-allow):hover,
.terminal .dvz-t-disable:hover {
    cursor: default
}

.terminal .dvz-t-show {
    display: block
}

.terminal .dvz-t-show-inline {
    display: inline-block
}

.terminal .dvz-t-hide {
    display: none
}

.terminal .dvz-t-remove {
    display: none
}

.dvz-content {
    font-size: 16px;
    font-family: "BWHaasText", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2d2d35;
}

.dvz-content h1,
.dvz-content .article-title {
    margin-top: 70px;
    font-size: 3.25rem;
    line-height: 3.5625rem;
    font-weight: 700;
    font-family: "BWHaasHead", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center
}

.dvz-content .article-subtitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6875rem;
    margin-top: 10px;
    font-weight: 500;
    font-family: "BWHaasHead", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.3
}

.dvz-content h2,
.dvz-content .head {
    font-family: 'BWHaasText', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin: 20px 0 10px 0
}

.dvz-content h3,
.dvz-content .subhead,
.dvz-content .sectionhead {
    font-family: 'BWHaasText', sans-serif;
    font-weight: 700;
    font-size: 1.3125rem;
    line-height: 1.6875rem;
    margin: 0 0 20px 0
}

.dvz-content h4,
.dvz-content .chart-title {
    font-family: 'BWHaasText', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    margin: 10px 0 0 0
}

.dvz-content a,
.dvz-content a:visited {
    text-decoration: none;
    color: #3c3c3c;
    border-bottom: 1px solid #2b00f7;
}

.dvz-content a:hover,
.dvz-content a:visited:hover,
.dvz-content a a:active,
.dvz-content a:visited a:active {
    color: #2b00f7
}

.dvz-content .bydek {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "TiemposText-Regular", "Georgia", serif;
    margin: 28px auto 34px auto;
    color: #767676;
    text-align: center;
}

.dvz-content .bydek a,
.dvz-content .bydek a:visited {
    color: #000;
    border-bottom: none;
}

.dvz-content .bydek a:hover,
.dvz-content .bydek a:visited:hover,
.dvz-content .bydek a a:active,
.dvz-content .bydek a:visited a:active {
    color: #2b00f7
}

.dvz-content .dek {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-family: "TiemposText-Regular", "Georgia", serif;
    margin: 0 auto 52px;
    color: #3c3c3c;
    text-align: center;
    padding: 0 20px
}

.dvz-content .copy-block {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-family: "TiemposText-Regular", "Georgia", serif;
    text-align: left;
}

.dvz-content .copy-block .boldtext {
    font-family: "BWHaasText", sans-serif;
    font-weight: 700
}

.dvz-content .copy-block p {
    margin: 10px auto 18px;
    color: #3c3c3c
}

.dvz-content .boldtext {
    font-family: "BWHaasText", sans-serif;
    font-weight: 700
}

.dvz-content .chart-dek,
.dvz-content .copy-block p.chart-dek {
    font-family: "BWHaasText", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    margin: 0
}

.dvz-content .chart-key,
.dvz-content .chart-source,
.dvz-content .copy-block p.chart-key,
.dvz-content .copy-block p.chart-source {
    font-family: "BWHaasText", Helvetica, sans-serif;
    font-weight: 400;
    font-size: .875rem;
    margin: 0
}

.dvz-content .chart-key,
.dvz-content .copy-block p.chart-key {
    margin: 18px 0 0
}

.dvz-content .quote:before {
    content: "â€œ"
}

.dvz-content .quote:after {
    content: "â€"
}

.dvz-content .apostrophe:before {
    content: "â€™"
}

.dvz-content .pullquote {
    width: 80%;
    margin: 3em auto
}

.dvz-content .pullquote p {
    font-family: 'TiemposHead', serif;
    font-size: 2.625rem;
    line-height: 3.25rem;
    color: #3c3c3c;
    margin: 18px 0 6px;
    text-indent: 6px;
}

.dvz-content .pullquote p:before {
    content: "â€œ"
}

.dvz-content .pullquote p:after {
    content: "â€"
}

.dvz-content .pullquote .pullquote-src {
    font-family: 'HaasText', sans-serif;
    font-size: 1.125rem;
    color: #767676;
    display: inline-block
}

.dvz-content .footer,
.dvz-content .caption,
.dvz-content .source {
    font-size: .8125rem;
    color: #999;
    -webkit-font-smoothing: antialiased
}

@media only screen and (max-width:767px) {
    .dvz-content h1,
    .dvz-content .article-title {
        font-size: 2.625rem;
        line-height: 3.375rem
    }
}

@media only screen and (max-width:460px) {
    .dvz-content h1,
    .dvz-content .article-title {
        font-size: 2.375rem;
        line-height: 2.6875rem
    }
}

div.bbg-tooltip,
div.dvz-tooltip {
    position: absolute;
    z-index: 10;
    top: -1000px;
    width: auto;
    min-width: 100px;
    padding: 10px 14px 9px;
    border: 1px solid #d3d3d3;
    box-shadow: 0 0 10px rgba(140, 140, 140, 0.2);
    transition: all .05s ease-in-out;
    background: rgba(255, 255, 255, 0.9);
    pointer-events: none;
    font-family: "BWHaasText", "Helvetica", sans-serif;
}

@media only screen and (max-width:769px) {
    div.bbg-tooltip,
    div.dvz-tooltip {
        pointer-events: all
    }
    div.bbg-tooltip.bbg-tooltip-hidden,
    div.dvz-tooltip.bbg-tooltip-hidden,
    div.bbg-tooltip.dvz-tooltip-hidden,
    div.dvz-tooltip.dvz-tooltip-hidden {
        pointer-events: none
    }
}

div.bbg-tooltip.bbg-tooltip-hidden,
div.dvz-tooltip.bbg-tooltip-hidden,
div.bbg-tooltip.dvz-tooltip-hidden,
div.dvz-tooltip.dvz-tooltip-hidden {
    transition: opacity .2s ease;
    opacity: 0
}

div.bbg-tooltip:after,
div.dvz-tooltip:after,
div.bbg-tooltip:before,
div.dvz-tooltip:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    z-index: 100
}

div.bbg-tooltip:after,
div.dvz-tooltip:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 7px;
    margin-left: -7px
}

div.bbg-tooltip:before,
div.dvz-tooltip:before {
    border-color: rgba(102, 102, 102, 0);
    border-top-color: #d3d3d3;
    border-width: 8px;
    margin-left: -8px
}

div.bbg-tooltip .dvz-tooltip-p,
div.dvz-tooltip .dvz-tooltip-p {
    margin: 1px 0 7px
}

div.bbg-tooltip .dvz-tooltip-h4,
div.dvz-tooltip .dvz-tooltip-h4 {
    margin: 0 0 8px
}

div.bbg-tooltip .dvz-tooltip-h5,
div.dvz-tooltip .dvz-tooltip-h5 {
    margin: 10px 0 2px;
    font-size: .875rem
}

div.bbg-tooltip .dvz-tt-num,
div.dvz-tooltip .dvz-tt-num {
    font-size: 1.125rem;
    margin: 2px 0
}

.dvz-content .ai2html img {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.dvz-content .dvz-artboard {
    position: relative;
    background-color: #f7f7f7;
}

.dvz-content .dvz-artboard:after {
    content: 'Loading...';
    position: absolute;
    top: 25%;
    text-align: center;
    width: 100%;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    display: block;
    font-size: 14px
}

.dvz-content .dvz-artboard * {
    opacity: 0 !important
}

.dvz-content .dvz-artboard.ll-loaded {
    background-color: transparent;
}

.dvz-content .dvz-artboard.ll-loaded:after {
    display: none
}

.dvz-content .dvz-artboard.ll-loaded * {
    opacity: 1 !important
}

.dvz-content .ai2html-width {
    position: relative;
}

@media only screen and (max-width:740px) {
    .dvz-content .ai2html-width {
        max-width: 92% !important
    }
    .dvz-content .ai2html-width .ai2html .dvz-artboard {
        margin-left: 0 !important
    }
}

@media only screen and (max-width:880px) {
    .dvz-content .ai2html-width {
        margin-left: 4%
    }
}

.dvz-content {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    overflow: auto;
}

.dvz-content a,
.dvz-content a:active,
.dvz-content a:visited {
    color: #111;
    border-bottom: 1px solid #111
}

.dvz-content a:hover {
    color: #111 !important;
    border-bottom: 1px solid #111;
    cursor: pointer
}

.dvz-content .dvz-bw-head {
    border-bottom: 1px solid #111;
    margin-bottom: 14px;
    padding-top: 20px;
    padding-bottom: 220px;
    position: relative;
    background-size: 100%;
    padding-bottom: 160px;
}

@media only screen and (max-width:768px) {
    .dvz-content .dvz-bw-head {
        padding-top: 20px
    }
}

.dvz-content .dvz-bw-head .dvz-bw-timestamp {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 12px;
    line-height: 15px;
    font-family: "BWHaasHead", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0;
}

.dvz-content .dvz-bw-head .dvz-bw-timestamp:before {
    content: "";
    height: 9px;
    width: 9px;
    background-color: #000;
    display: inline-block;
    margin-right: 4px
}

.dvz-content .dvz-bw-head h1,
.dvz-content .dvz-bw-head .article-title {
    font-size: 3.875rem;
    line-height: 1.1;
    font-weight: 400;
    margin-top: 0;
}

@media only screen and (max-width:768px) {
    .dvz-content .dvz-bw-head h1,
    .dvz-content .dvz-bw-head .article-title {
        font-size: 2.25rem
    }
}

.dvz-content .dvz-bw-head .bydek {
    margin-bottom: 0;
    font-size: 1.375rem;
    line-height: 1.4;
    color: #111;
    font-family: "BWHaasHead", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

@media only screen and (max-width:768px) {
    .dvz-content .dvz-bw-head .bydek {
        font-size: 1.125rem
    }
}

.dvz-content h3 {
    font-family: "BWHaasText", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 2.0625rem;
    margin-top: 50px;
    color: #000;
}

@media only screen and (max-width:740px) {
    .dvz-content h3 {
        margin-top: 30px
    }
}

.dvz-content .copy-block {
    font-family: "Publico Text Web", "TiemposText-Regular", "Georgia", serif;
    font-size: 1.375rem;
    line-height: 2.0625rem;
}

@media only screen and (max-width:740px) {
    .dvz-content .copy-block {
        font-size: 1.125rem;
        line-height: 1.5rem
    }
}

.dvz-content .copy-block p {
    color: #111;
    margin: 5px 0 0 0
}

.dvz-content .copy-block p:not(:first-child) {
    text-indent: 30px
}

.dvz-content .bottom-line {
    border-top: 1px solid #000;
    font-family: "BWHaasText", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.375rem;
    line-height: 1.9375rem;
    margin-top: 50px;
}

@media only screen and (max-width:740px) {
    .dvz-content .bottom-line {
        margin-top: 30px;
        font-size: 1.125rem;
        line-height: 1.5rem
    }
}

.dvz-content .copy-width {
    width: 740px;
}

@media only screen and (max-width:740px) {
    .dvz-content .copy-width {
        width: 92%
    }
}

.dvz-content .chart-title {
    font-family: "BWHaasText", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 2.0625rem;
    margin: 20px 0 0 0 !important;
    color: #000
}

.dvz-content .chart-source,
.dvz-content .img-caption {
    color: #000 !important;
    margin: 14px 0 50px 0 !important;
    font-size: .625rem !important;
    line-height: .9375rem !important;
    text-transform: uppercase
}

.dvz-content ul {
    margin: 5px 0 18px 0;
}

.dvz-content ul list-style none li:before {
    content: "";
    -ms-transform: translate(0, 20%);
    transform: translate(0, 20%);
    float: left;
    background-color: #000;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin-right: 6px;
    margin-top: 5px
}