  .y-axis path, line {
    fill: none;
    stroke: none;
  }
  .x-axis path, line {
    fill: none;
    stroke-width: 1px;
    stroke: #000;
  }
  .y-axis .tick path, line{
      fill: #efefef;
  }
  .axis text {
    font-size: 14px;
  }
  .annotation path{
    fill: none;
    stroke: #000;
    cursor: default;
  }
  .annotation circle{
    stroke: none;
    cursor: default;
  }
  .annotation text{
    cursor: default;
  }
  .key-dot {
      display: inline-block;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      margin-right: 5px;
  }
  #legend-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  #legend {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-end;
    align-content: flex-end;
    margin-top: 5px;
  }
  .legend-child {
    margin-right: 20px;
    align-self: flex-end;
  }
  .legend-child p{
    clear:both;
    float:left;
  }
  .legend-scatter-dot {
    stroke: black;
    fill: white;
  }
  .dot {
      fill-opacity: .6;
      stroke-opacity: .2;
      stroke-width: 1;
      stroke: #000;
  }
  .lines {
      stroke-linecap: round;
  }
  .Health {
      fill: #ff0000;
  /*	stroke: #ff0000;*/
    background-color: #ff0000;
  }
  .line-Health {
      stroke: #0078ff;
  }
  .Auto {
      fill: #dca0ff;
  /*	stroke: #dca0ff;*/
    background-color: #dca0ff;
  }
  .line-Auto {
      stroke: #dca0ff;
  }
  .Retail {
      fill: #ffff00;
      /*stroke: #ffff00;*/
    background-color: #ffff00;
  }
  .line-Retail {
      stroke: #ffff00;
  }
  .Real.estate {
      fill: #008800;
  /*	stroke: #008800;*/
    background-color: #008800;
  }
  .line-Real.estate {
      stroke: #008800;
  }
  .Food {
      fill: #0078ff;
      /*stroke: #003a89;*/
    background-color: #0078ff;
  }
  .line-Food {
      stroke: #0078ff;
  }
  .Payment.companies {
      fill: #fa1e64;
  /*	stroke: #fa1e64;*/
    background-color: #fa1e64;
  }
  .Misc {
    fill:#FF8C00;
    background-color: #FF8C00
  }
  .line-Misc{
    stroke:#FF8C00;
  }
  .Tech {
    background-color: #81dfbf;
    fill: #81dfbf;
  }
  .line-Tech{
    stroke:#81dfbf
  }
  div.tooltipSmall {      
    width: 135px;                  
  } 
  div.tooltipWide {      
    width: 180px;                  
  } 
  .tooltip {   
    position: absolute;  
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px #ccc;
    color: black;       
    text-align: left;        
    min-height: inherit;                          
    font-size: 14px; 
    pointer-events: none; 
    z-index: 9999; 
    display: none;
    padding: 7px;
    transform: translate(-50%, -110%);
  } 
  .tooltip span{ 
    font-weight: bold;
   } 
  @media all and (max-width:  500px) { 
    div.tooltipWide {
       width: 140px;             
    }
  }
  .small-chart {
      width: 40%;
  }
  .voronoi path {
    fill: none;
    pointer-events: all;
  }
  .hundred-line {
    stroke-width: 2px !important;
  }