.ui.borderless.huge.menu {
    background-color: #f8f8f8;
    padding-top: 10px
  }

  .ui.borderless.huge.menu .header.item {
    font-size: 1.2em;
  }

  .ui.vertical.menu {
    display: none;
    background-color: #f8f8f8;
  }

  .ui.vertical.menu .item .title .dropdown.icon {
    float: none;
  }

  .ui.vertical.menu .item .content .item {
    padding: 0.5em 1em;
  }

  .ui.vertical.menu .header.item {
    text-transform: uppercase;
  }

  .ui.message {
    background-color: rga(238, 238, 238);
    box-shadow: none;
    padding: 4em 1.2em;
  }

  .ui.message h1.ui.header {
    font-size: 4.5em;
  }

  .ui.message p.lead {
    font-size: 1.3em;
    color: #333333;
    line-height: 1.4;
    font-weight: 300;
  }

  .chart {
    width: 100%; 
    min-height: 450px;
  }
  
  .border-box {
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    padding: 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}

.headline-container{
  height:300px;
  overflow-y: auto;
}

.wrap-headlines{
  overflow: hidden;
  white-space: nowrap;
}

.wrap-headlines:hover .wrap-headlines:active{
  overflow: auto;
}

